In [1]:
import pandas as pd

In [2]:
batting_url = "https://www.baseball-reference.com/leagues/MLB/bat.shtml"
batting_table = pd.read_html(batting_url)[0]

In [3]:
batting_df = pd.DataFrame(batting_table)
batting_df

,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
0,2020,30,602,28.0,4.69,1530,37.11,32.90,4.69,8.08,...,.246,.323,.420,.743,13.82,0.69,0.46,0.07,0.23,0.11
1,2019,30,1287,27.9,4.83,4858,38.39,34.30,4.83,8.65,...,.252,.323,.435,.758,14.92,0.71,0.41,0.16,0.24,0.16
2,2018,30,1271,28.1,4.45,4862,38.08,34.03,4.45,8.44,...,.248,.318,.409,.728,13.93,0.71,0.40,0.17,0.25,0.19
3,2017,30,1229,28.3,4.65,4860,38.13,34.07,4.65,8.69,...,.255,.324,.426,.750,14.51,0.78,0.36,0.19,0.24,0.20
4,2016,30,1247,28.4,4.48,4856,38.01,34.09,4.48,8.71,...,.255,.322,.417,.739,14.23,0.77,0.34,0.21,0.25,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,1874,8,120,25.0,7.48,464,41.69,41.17,7.48,11.26,...,.273,.282,.333,.616,13.72,0.23,NaN,NaN,NaN,NaN
152,1873,9,122,24.0,8.99,398,43.45,42.61,8.99,12.38,...,.290,.304,.357,.661,15.22,0.31,NaN,NaN,NaN,NaN
153,1872,11,143,23.5,9.26,366,43.52,42.80,9.26,12.20,...,.285,.297,.348,.645,14.89,0.27,NaN,NaN,NaN,NaN
154,1871,9,115,23.9,10.47,254,44.15,42.61,10.47,12.21,...,.287,.312,.384,.695,16.35,0.29,NaN,NaN,NaN,NaN
155,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB

In [4]:
batting_df = batting_df.set_index('Year')

In [5]:
drop_rows = batting_df.loc['Year']
drop_rows

,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,,,,,,,,,,,,,,,,,,,,,
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB

In [6]:
batting_cleaned_df = batting_df[batting_df['Tms'].isin(drop_rows)==False]

In [7]:
len(batting_cleaned_df)

150

In [8]:
batting_cleaned_df = batting_cleaned_df.fillna(0)
batting_cleaned_df

,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,,,,,,,,,,,,,,,,,,,,,
2020,30,602,28.0,4.69,1530,37.11,32.90,4.69,8.08,1.58,...,.246,.323,.420,.743,13.82,0.69,0.46,0.07,0.23,0.11
2019,30,1287,27.9,4.83,4858,38.39,34.30,4.83,8.65,1.76,...,.252,.323,.435,.758,14.92,0.71,0.41,0.16,0.24,0.16
2018,30,1271,28.1,4.45,4862,38.08,34.03,4.45,8.44,1.70,...,.248,.318,.409,.728,13.93,0.71,0.40,0.17,0.25,0.19
2017,30,1229,28.3,4.65,4860,38.13,34.07,4.65,8.69,1.73,...,.255,.324,.426,.750,14.51,0.78,0.36,0.19,0.24,0.20
2016,30,1247,28.4,4.48,4856,38.01,34.09,4.48,8.71,1.70,...,.255,.322,.417,.739,14.23,0.77,0.34,0.21,0.25,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1875,13,189,24.7,6.14,690,39.25,38.89,6.14,9.87,1.22,...,.254,.261,.310,.571,12.05,0.21,0,0,0,0
1874,8,120,25.0,7.48,464,41.69,41.17,7.48,11.26,1.37,...,.273,.282,.333,.616,13.72,0.23,0,0,0,0
1873,9,122,24.0,8.99,398,43.45,42.61,8.99,12.38,1.43,...,.290,.304,.357,.661,15.22,0.31,0,0,0,0
1872,11,143,23.5,9.26,366,43.52,42.80,9.26,12.20,1.59,...,.285,.297,.348,.645,14.89,0.27,0,0,0,0
1871,9,115,23.9,10.47,254,44.15,42.61,10.47,12.21,1.71,...,.287,.312,.384,.695,16.35,0.29,0,0,0,0

In [9]:
batting_cleaned_df = batting_cleaned_df[['Tms', '2B', '3B', 'SB', 'BA', 'OPS']]
batting_cleaned_df

     Tms    2B    3B    SB    BA   OPS
Year
2020  30  1.58  0.13  0.49  .246  .743
2019  30  1.76  0.16  0.47  .252  .758
2018  30  1.70  0.17  0.51  .248  .728
2017  30  1.73  0.16  0.52  .255  .750
2016  30  1.70  0.18  0.52  .255  .739
...   ..   ...   ...   ...   ...   ...
1875  13  1.22  0.40  0.91  .254  .571
1874   8  1.37  0.42  0.52  .273  .616
1873   9  1.43  0.53  0.79  .290  .661
1872  11  1.59  0.40  0.73  .285  .645
1871   9  1.71  0.94  1.74  .287  .695

[150 rows x 6 columns]

In [10]:
batting_cleaned_df = batting_cleaned_df.reset_index()

In [11]:
batting_cleaned_df['Year'] = batting_cleaned_df['Year'].astype(int)

In [12]:
cleaned_date = batting_cleaned_df.loc[(batting_cleaned_df['Year']>=1920)]
cleaned_date

     Year Tms    2B    3B    SB    BA   OPS
0    2020  30  1.58  0.13  0.49  .246  .743
1    2019  30  1.76  0.16  0.47  .252  .758
2    2018  30  1.70  0.17  0.51  .248  .728
3    2017  30  1.73  0.16  0.52  .255  .750
4    2016  30  1.70  0.18  0.52  .255  .739
..    ...  ..   ...   ...   ...   ...   ...
96   1924  16  1.66  0.48  0.61  .287  .742
97   1923  16  1.59  0.46  0.64  .284  .738
98   1922  16  1.59  0.50  0.59  .288  .749
99   1921  16  1.62  0.55  0.60  .291  .750
100  1920  16  1.46  0.51  0.70  .276  .707

[101 rows x 7 columns]