# I realize that there are two tables, one is average and one is total. I am not sure which one to use, so I just put them at the top.
# I do not know which columns that we want, so I will leave it blank, so you can add them in as list, after that, I will drop them.

In [11]:
# Import Dependencies
import pandas as pd

In [2]:
# Set the main url, then read in the table. There are two tables in the web page
# The first one is "League Year-By-Year Pitching--Averages"
baseball_url='https://www.baseball-reference.com/leagues/MLB/pitch.shtml'
baseball_average_table=pd.read_html(baseball_url)[0]
# The second one is "League Year-By-Year Pitching--Totals"
baseball_total_table=pd.read_html(baseball_url)[1]

In [3]:
# Convert it to a dataframe 
baseball_average_df=pd.DataFrame(baseball_average_table)

In [4]:
# Set the index to Year column for later cleaning
baseball_average_df=baseball_average_df.set_index('Year')

In [5]:
# Display the table
baseball_average_df

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
2020,30,721,28.3,4.69,4.49,1530,0.98,0.02,0.01,0.05,...,37.11,NaN,1.335,.292,8.4,1.4,3.6,9.0,2.52,0.57
2019,30,831,28.4,4.83,4.49,4858,0.99,0.01,0.01,0.06,...,38.39,NaN,1.334,.298,8.7,1.4,3.3,8.9,2.69,0.60
2018,30,799,28.4,4.45,4.14,4862,0.99,0.01,0.00,0.06,...,38.08,NaN,1.304,.295,8.5,1.2,3.2,8.5,2.63,0.57
2017,30,755,28.5,4.65,4.35,4860,0.99,0.01,0.01,0.05,...,38.13,NaN,1.342,.300,8.8,1.3,3.3,8.3,2.53,0.58
2016,30,742,28.3,4.48,4.18,4856,0.98,0.02,0.01,0.06,...,38.01,NaN,1.325,.300,8.8,1.2,3.1,8.1,2.58,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874,8,17,24.7,7.48,2.19,464,0.05,0.95,0.03,0.03,...,41.69,NaN,1.310,NaN,11.3,0.1,0.5,0.8,1.50,8.14
1873,9,25,21.3,8.99,3.40,398,0.09,0.91,0.02,0.02,...,43.45,NaN,1.468,NaN,12.4,0.1,0.8,0.7,0.83,8.02
1872,11,21,21.1,9.26,3.65,366,0.11,0.89,0.03,0.03,...,43.52,NaN,1.439,NaN,12.2,0.1,0.7,0.7,1.01,7.50
1871,9,19,24.6,10.47,4.22,254,0.09,0.91,0.02,0.02,...,44.15,NaN,1.553,NaN,12.4,0.2,1.6,0.7,0.45,7.61
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [6]:
# Filter out the duplicate headers as rows
rows_to_drop=baseball_average_df.loc['Year']

In [7]:
# Display to check
rows_to_drop

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [8]:
# Drop out those unnecessary rows
cleaned_baseball_df=baseball_average_df[baseball_average_df['Tms'].isin(rows_to_drop)==False]

In [9]:
# Checking the length of the df. The original has 156 rows, so the cleaned up one should have 150 rows after dropping.
len(cleaned_baseball_df)

150

In [10]:
# Dropping those unnecessary columns
columns_to_drop=['']

# Batting Cleanup

In [12]:
batting_url = "https://www.baseball-reference.com/leagues/MLB/bat.shtml"
batting_table = pd.read_html(batting_url)[0]

In [13]:
batting_df = pd.DataFrame(batting_table)
batting_df

,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
0,2020,30,602,28.0,4.69,1530,37.11,32.90,4.69,8.08,...,.246,.323,.420,.743,13.82,0.69,0.46,0.07,0.23,0.11
1,2019,30,1287,27.9,4.83,4858,38.39,34.30,4.83,8.65,...,.252,.323,.435,.758,14.92,0.71,0.41,0.16,0.24,0.16
2,2018,30,1271,28.1,4.45,4862,38.08,34.03,4.45,8.44,...,.248,.318,.409,.728,13.93,0.71,0.40,0.17,0.25,0.19
3,2017,30,1229,28.3,4.65,4860,38.13,34.07,4.65,8.69,...,.255,.324,.426,.750,14.51,0.78,0.36,0.19,0.24,0.20
4,2016,30,1247,28.4,4.48,4856,38.01,34.09,4.48,8.71,...,.255,.322,.417,.739,14.23,0.77,0.34,0.21,0.25,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,1874,8,120,25.0,7.48,464,41.69,41.17,7.48,11.26,...,.273,.282,.333,.616,13.72,0.23,NaN,NaN,NaN,NaN
152,1873,9,122,24.0,8.99,398,43.45,42.61,8.99,12.38,...,.290,.304,.357,.661,15.22,0.31,NaN,NaN,NaN,NaN
153,1872,11,143,23.5,9.26,366,43.52,42.80,9.26,12.20,...,.285,.297,.348,.645,14.89,0.27,NaN,NaN,NaN,NaN
154,1871,9,115,23.9,10.47,254,44.15,42.61,10.47,12.21,...,.287,.312,.384,.695,16.35,0.29,NaN,NaN,NaN,NaN
155,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB

In [14]:
batting_df = batting_df.set_index('Year')

In [15]:
drop_rows = batting_df.loc['Year']
drop_rows

,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,,,,,,,,,,,,,,,,,,,,,
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB

In [16]:
batting_cleaned_df = batting_df[batting_df['Tms'].isin(drop_rows)==False]

In [17]:
len(batting_cleaned_df)

150

In [18]:
batting_cleaned_df = batting_cleaned_df.fillna(0)
batting_cleaned_df

,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,,,,,,,,,,,,,,,,,,,,,
2020,30,602,28.0,4.69,1530,37.11,32.90,4.69,8.08,1.58,...,.246,.323,.420,.743,13.82,0.69,0.46,0.07,0.23,0.11
2019,30,1287,27.9,4.83,4858,38.39,34.30,4.83,8.65,1.76,...,.252,.323,.435,.758,14.92,0.71,0.41,0.16,0.24,0.16
2018,30,1271,28.1,4.45,4862,38.08,34.03,4.45,8.44,1.70,...,.248,.318,.409,.728,13.93,0.71,0.40,0.17,0.25,0.19
2017,30,1229,28.3,4.65,4860,38.13,34.07,4.65,8.69,1.73,...,.255,.324,.426,.750,14.51,0.78,0.36,0.19,0.24,0.20
2016,30,1247,28.4,4.48,4856,38.01,34.09,4.48,8.71,1.70,...,.255,.322,.417,.739,14.23,0.77,0.34,0.21,0.25,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1875,13,189,24.7,6.14,690,39.25,38.89,6.14,9.87,1.22,...,.254,.261,.310,.571,12.05,0.21,0,0,0,0
1874,8,120,25.0,7.48,464,41.69,41.17,7.48,11.26,1.37,...,.273,.282,.333,.616,13.72,0.23,0,0,0,0
1873,9,122,24.0,8.99,398,43.45,42.61,8.99,12.38,1.43,...,.290,.304,.357,.661,15.22,0.31,0,0,0,0
1872,11,143,23.5,9.26,366,43.52,42.80,9.26,12.20,1.59,...,.285,.297,.348,.645,14.89,0.27,0,0,0,0
1871,9,115,23.9,10.47,254,44.15,42.61,10.47,12.21,1.71,...,.287,.312,.384,.695,16.35,0.29,0,0,0,0

In [19]:
batting_cleaned_df = batting_cleaned_df[['Tms', '2B', '3B', 'SB', 'BA', 'OPS']]
batting_cleaned_df

     Tms    2B    3B    SB    BA   OPS
Year
2020  30  1.58  0.13  0.49  .246  .743
2019  30  1.76  0.16  0.47  .252  .758
2018  30  1.70  0.17  0.51  .248  .728
2017  30  1.73  0.16  0.52  .255  .750
2016  30  1.70  0.18  0.52  .255  .739
...   ..   ...   ...   ...   ...   ...
1875  13  1.22  0.40  0.91  .254  .571
1874   8  1.37  0.42  0.52  .273  .616
1873   9  1.43  0.53  0.79  .290  .661
1872  11  1.59  0.40  0.73  .285  .645
1871   9  1.71  0.94  1.74  .287  .695

[150 rows x 6 columns]

In [20]:
batting_cleaned_df = batting_cleaned_df.reset_index()

In [21]:
batting_cleaned_df['Year'] = batting_cleaned_df['Year'].astype(int)

In [22]:
cleaned_date = batting_cleaned_df.loc[(batting_cleaned_df['Year']>=1920)]
cleaned_date

     Year Tms    2B    3B    SB    BA   OPS
0    2020  30  1.58  0.13  0.49  .246  .743
1    2019  30  1.76  0.16  0.47  .252  .758
2    2018  30  1.70  0.17  0.51  .248  .728
3    2017  30  1.73  0.16  0.52  .255  .750
4    2016  30  1.70  0.18  0.52  .255  .739
..    ...  ..   ...   ...   ...   ...   ...
96   1924  16  1.66  0.48  0.61  .287  .742
97   1923  16  1.59  0.46  0.64  .284  .738
98   1922  16  1.59  0.50  0.59  .288  .749
99   1921  16  1.62  0.55  0.60  .291  .750
100  1920  16  1.46  0.51  0.70  .276  .707

[101 rows x 7 columns]

In [ ]:
apodsinc asodfmpowefmq[wofm[qpwoe fmpowqe mfqsldf meprmpoqermg]]