# I realize that there are two tables, one is average and one is total. I am not sure which one to use, so I just put them at the top.
# I do not know which columns that we want, so I will leave it blank, so you can add them in as list, after that, I will drop them.

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Set the main url, then read in the table. There are two tables in the web page
# The first one is "League Year-By-Year Pitching--Averages"
baseball_url='https://www.baseball-reference.com/leagues/MLB/pitch.shtml'
baseball_average_table=pd.read_html(baseball_url)[0]
# The second one is "League Year-By-Year Pitching--Totals"
baseball_total_table=pd.read_html(baseball_url)[1]

In [3]:
# Convert it to a dataframe 
baseball_average_df=pd.DataFrame(baseball_average_table)

In [4]:
# Set the index to Year column for later cleaning
baseball_average_df=baseball_average_df.set_index('Year')

In [5]:
# Display the table
baseball_average_df

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
2020,30,710,28.4,4.70,4.50,1438,0.98,0.02,0.01,0.05,...,37.17,NaN,1.338,.293,8.5,1.4,3.6,9.0,2.51,0.57
2019,30,831,28.4,4.83,4.49,4858,0.99,0.01,0.01,0.06,...,38.39,NaN,1.334,.298,8.7,1.4,3.3,8.9,2.69,0.60
2018,30,799,28.4,4.45,4.14,4862,0.99,0.01,0.00,0.06,...,38.08,NaN,1.304,.295,8.5,1.2,3.2,8.5,2.63,0.57
2017,30,755,28.5,4.65,4.35,4860,0.99,0.01,0.01,0.05,...,38.13,NaN,1.342,.300,8.8,1.3,3.3,8.3,2.53,0.58
2016,30,742,28.3,4.48,4.18,4856,0.98,0.02,0.01,0.06,...,38.01,NaN,1.325,.300,8.8,1.2,3.1,8.1,2.58,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874,8,17,24.7,7.48,2.19,464,0.05,0.95,0.03,0.03,...,41.69,NaN,1.310,NaN,11.3,0.1,0.5,0.8,1.50,8.14
1873,9,25,21.3,8.99,3.40,398,0.09,0.91,0.02,0.02,...,43.45,NaN,1.468,NaN,12.4,0.1,0.8,0.7,0.83,8.02
1872,11,21,21.1,9.26,3.65,366,0.11,0.89,0.03,0.03,...,43.52,NaN,1.439,NaN,12.2,0.1,0.7,0.7,1.01,7.50
1871,9,19,24.6,10.47,4.22,254,0.09,0.91,0.02,0.02,...,44.15,NaN,1.553,NaN,12.4,0.2,1.6,0.7,0.45,7.61
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [6]:
# Filter out the duplicate headers as rows
rows_to_drop=baseball_average_df.loc['Year']

In [7]:
# Display to check
rows_to_drop

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [9]:
# Drop out those unnecessary rows
cleaned_baseball_df=baseball_average_df[baseball_average_df['Tms'].isin(rows_to_drop)==False]

In [16]:
# Checking the length of the df. The original has 156 rows, so the cleaned up one should have 150 rows after dropping.
len(cleaned_baseball_df)

150

In [ ]:
# Dropping those unnecessary columns
columns_to_drop=['']