# Project 2 - Group 5
## Team member:
* Phu Phan
* John Shows
* Marvin Gayle
* Tyler Stridiron

# Pitching Averages Cleanup

In [1]:
# Import Dependencies
import pandas as pd
from config import my_key
import json

In [2]:
# Set the main url, then read in the table. There are two tables in the web page. We picked the Pitching Averages table.
# The first one is "League Year-By-Year Pitching--Averages"
baseball_url='https://www.baseball-reference.com/leagues/MLB/pitch.shtml'
pitching_average_table=pd.read_html(baseball_url)[0]
# The second one is "League Year-By-Year Pitching--Totals"
pitching_total_table=pd.read_html(baseball_url)[1]

In [3]:
# Convert it to a dataframe 
pitching_average_df=pd.DataFrame(pitching_average_table)

In [4]:
# Set the index to Year column for later cleaning
pitching_average_df=pitching_average_df.set_index('Year')

In [5]:
# Display the table
pitching_average_df

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
2020,30,728,28.3,4.64,4.44,1676,0.98,0.02,0.01,0.05,...,37.04,NaN,1.326,.291,8.4,1.3,3.5,9.1,2.55,0.57
2019,30,831,28.4,4.83,4.49,4858,0.99,0.01,0.01,0.06,...,38.39,NaN,1.334,.298,8.7,1.4,3.3,8.9,2.69,0.60
2018,30,799,28.4,4.45,4.14,4862,0.99,0.01,0.00,0.06,...,38.08,NaN,1.304,.295,8.5,1.2,3.2,8.5,2.63,0.57
2017,30,755,28.5,4.65,4.35,4860,0.99,0.01,0.01,0.05,...,38.13,NaN,1.342,.300,8.8,1.3,3.3,8.3,2.53,0.58
2016,30,742,28.3,4.48,4.18,4856,0.98,0.02,0.01,0.06,...,38.01,NaN,1.325,.300,8.8,1.2,3.1,8.1,2.58,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874,8,17,24.7,7.48,2.19,464,0.05,0.95,0.03,0.03,...,41.69,NaN,1.310,NaN,11.3,0.1,0.5,0.8,1.50,8.14
1873,9,25,21.3,8.99,3.40,398,0.09,0.91,0.02,0.02,...,43.45,NaN,1.468,NaN,12.4,0.1,0.8,0.7,0.83,8.02
1872,11,21,21.1,9.26,3.65,366,0.11,0.89,0.03,0.03,...,43.52,NaN,1.439,NaN,12.2,0.1,0.7,0.7,1.01,7.50
1871,9,19,24.6,10.47,4.22,254,0.09,0.91,0.02,0.02,...,44.15,NaN,1.553,NaN,12.4,0.2,1.6,0.7,0.45,7.61
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

## We notice that when pandas reads in the table, there are some duplicate rows that do not contain the decimal value. Therefore, we want to drop them out of the table. Also the table has 32 columns, which is redundant, so we filter out some columns, and keep the necessary ones.

In [6]:
# Filter out the duplicate headers as rows
rows_to_drop=pitching_average_df.loc['Year']

In [7]:
# Display to check
rows_to_drop

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [8]:
# Drop out those unnecessary rows
cleaned_baseball_df=pitching_average_df[pitching_average_df['Tms'].isin(rows_to_drop)==False]

In [9]:
# Checking the length of the df. The original has 156 rows, so the cleaned up one should have 150 rows after dropping.
len(cleaned_baseball_df)

150

In [10]:
# Dropping those unnecessary columns
cleaned_baseball_df=cleaned_baseball_df[['Tms','R/G','ERA','GF','CG','HR','SO','HBP','HR9','SO9']]

In [11]:
# Reset index to Year column
cleaned_baseball_df=cleaned_baseball_df.reset_index()

In [12]:
# Convert the Year to integer
cleaned_baseball_df['Year']=cleaned_baseball_df['Year'].astype(int)

In [13]:
# Get data from 1920 and up.
cleaned_baseball_df=cleaned_baseball_df.loc[(cleaned_baseball_df['Year']>=1920)]

In [14]:
# Convert the rest of columns to float type, so we can load them into PostgreSQL
cleaned_baseball_df[['Tms','R/G','ERA','GF','CG','HR','SO','HBP','HR9','SO9']]=cleaned_baseball_df[['Tms','R/G','ERA','GF','CG','HR','SO','HBP','HR9','SO9']].astype(float)

In [15]:
# Display the final table
cleaned_baseball_df

     Year   Tms   R/G   ERA    GF    CG    HR    SO   HBP  HR9  SO9
0    2020  30.0  4.64  4.44  0.98  0.02  1.29  8.68  0.46  1.3  9.1
1    2019  30.0  4.83  4.49  0.99  0.01  1.39  8.81  0.41  1.4  8.9
2    2018  30.0  4.45  4.14  0.99  0.01  1.15  8.48  0.40  1.2  8.5
3    2017  30.0  4.65  4.35  0.99  0.01  1.26  8.25  0.36  1.3  8.3
4    2016  30.0  4.48  4.18  0.98  0.02  1.16  8.03  0.34  1.2  8.1
..    ...   ...   ...   ...   ...   ...   ...   ...   ...  ...  ...
96   1924  16.0  4.75  4.05  0.51  0.49  0.36  2.69  0.22  0.4  2.7
97   1923  16.0  4.81  3.99  0.51  0.49  0.40  2.84  0.25  0.4  2.9
98   1922  16.0  4.86  4.06  0.50  0.50  0.43  2.80  0.25  0.4  2.8
99   1921  16.0  4.85  4.03  0.48  0.52  0.38  2.83  0.23  0.4  2.8
100  1920  16.0  4.36  3.46  0.43  0.57  0.26  2.95  0.22  0.3  2.9

[101 rows x 11 columns]

In [16]:
# Export to html format to use in the index.html
cleaned_baseball_df.to_html('html_files/pitching.html')

In [17]:
# Export wo json format for visualization
cleaned_baseball_df.to_json('json_files/pitching.json',orient='records')

# Batting Cleanup

In [18]:
# Doing the cleanup for batting stats
batting_url = "https://www.baseball-reference.com/leagues/MLB/bat.shtml"
batting_table = pd.read_html(batting_url)[0]

In [19]:
# Convert it to DataFrame
batting_df = pd.DataFrame(batting_table)
batting_df

,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
0,2020,30,608,28.0,4.64,1676,37.04,32.87,4.64,8.03,...,.244,.322,.418,.739,13.73,0.69,0.46,0.07,0.22,0.11
1,2019,30,1287,27.9,4.83,4858,38.39,34.30,4.83,8.65,...,.252,.323,.435,.758,14.92,0.71,0.41,0.16,0.24,0.16
2,2018,30,1271,28.1,4.45,4862,38.08,34.03,4.45,8.44,...,.248,.318,.409,.728,13.93,0.71,0.40,0.17,0.25,0.19
3,2017,30,1229,28.3,4.65,4860,38.13,34.07,4.65,8.69,...,.255,.324,.426,.750,14.51,0.78,0.36,0.19,0.24,0.20
4,2016,30,1247,28.4,4.48,4856,38.01,34.09,4.48,8.71,...,.255,.322,.417,.739,14.23,0.77,0.34,0.21,0.25,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,1874,8,120,25.0,7.48,464,41.69,41.17,7.48,11.26,...,.273,.282,.333,.616,13.72,0.23,NaN,NaN,NaN,NaN
152,1873,9,122,24.0,8.99,398,43.45,42.61,8.99,12.38,...,.290,.304,.357,.661,15.22,0.31,NaN,NaN,NaN,NaN
153,1872,11,143,23.5,9.26,366,43.52,42.80,9.26,12.20,...,.285,.297,.348,.645,14.89,0.27,NaN,NaN,NaN,NaN
154,1871,9,115,23.9,10.47,254,44.15,42.61,10.47,12.21,...,.287,.312,.384,.695,16.35,0.29,NaN,NaN,NaN,NaN
155,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB

In [20]:
# Setting the index to Year column
batting_df = batting_df.set_index('Year')

In [21]:
# Filter out unnecessary rows as above
drop_rows = batting_df.loc['Year']
drop_rows

,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,,,,,,,,,,,,,,,,,,,,,
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB

In [22]:
# Drop those rows
batting_cleaned_df = batting_df[batting_df['Tms'].isin(drop_rows)==False]

In [23]:
# Checking the length of the cleaned table
len(batting_cleaned_df)

150

In [24]:
# Fill the NaN cells with 0
batting_cleaned_df = batting_cleaned_df.fillna(0)
batting_cleaned_df

,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB
Year,,,,,,,,,,,,,,,,,,,,,
2020,30,608,28.0,4.64,1676,37.04,32.87,4.64,8.03,1.57,...,.244,.322,.418,.739,13.73,0.69,0.46,0.07,0.22,0.11
2019,30,1287,27.9,4.83,4858,38.39,34.30,4.83,8.65,1.76,...,.252,.323,.435,.758,14.92,0.71,0.41,0.16,0.24,0.16
2018,30,1271,28.1,4.45,4862,38.08,34.03,4.45,8.44,1.70,...,.248,.318,.409,.728,13.93,0.71,0.40,0.17,0.25,0.19
2017,30,1229,28.3,4.65,4860,38.13,34.07,4.65,8.69,1.73,...,.255,.324,.426,.750,14.51,0.78,0.36,0.19,0.24,0.20
2016,30,1247,28.4,4.48,4856,38.01,34.09,4.48,8.71,1.70,...,.255,.322,.417,.739,14.23,0.77,0.34,0.21,0.25,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1875,13,189,24.7,6.14,690,39.25,38.89,6.14,9.87,1.22,...,.254,.261,.310,.571,12.05,0.21,0,0,0,0
1874,8,120,25.0,7.48,464,41.69,41.17,7.48,11.26,1.37,...,.273,.282,.333,.616,13.72,0.23,0,0,0,0
1873,9,122,24.0,8.99,398,43.45,42.61,8.99,12.38,1.43,...,.290,.304,.357,.661,15.22,0.31,0,0,0,0
1872,11,143,23.5,9.26,366,43.52,42.80,9.26,12.20,1.59,...,.285,.297,.348,.645,14.89,0.27,0,0,0,0
1871,9,115,23.9,10.47,254,44.15,42.61,10.47,12.21,1.71,...,.287,.312,.384,.695,16.35,0.29,0,0,0,0

In [25]:
# Filter out desired columns
batting_cleaned_df = batting_cleaned_df[['Tms', '2B', '3B', 'SB', 'BA', 'OPS']]
batting_cleaned_df

     Tms    2B    3B    SB    BA   OPS
Year
2020  30  1.57  0.13  0.49  .244  .739
2019  30  1.76  0.16  0.47  .252  .758
2018  30  1.70  0.17  0.51  .248  .728
2017  30  1.73  0.16  0.52  .255  .750
2016  30  1.70  0.18  0.52  .255  .739
...   ..   ...   ...   ...   ...   ...
1875  13  1.22  0.40  0.91  .254  .571
1874   8  1.37  0.42  0.52  .273  .616
1873   9  1.43  0.53  0.79  .290  .661
1872  11  1.59  0.40  0.73  .285  .645
1871   9  1.71  0.94  1.74  .287  .695

[150 rows x 6 columns]

In [26]:
# Reset the index
batting_cleaned_df = batting_cleaned_df.reset_index()

In [27]:
# Convert the Year column to integer type
batting_cleaned_df['Year'] = batting_cleaned_df['Year'].astype(int)

In [28]:
# Convert the rest to float type
batting_cleaned_df[['Tms', '2B', '3B', 'SB', 'BA', 'OPS']]=batting_cleaned_df[['Tms', '2B', '3B', 'SB', 'BA', 'OPS']].astype(float)

In [29]:
# Filter out cells before 1920
cleaned_date = batting_cleaned_df.loc[(batting_cleaned_df['Year']>=1920)]
cleaned_date

     Year   Tms    2B    3B    SB     BA    OPS
0    2020  30.0  1.57  0.13  0.49  0.244  0.739
1    2019  30.0  1.76  0.16  0.47  0.252  0.758
2    2018  30.0  1.70  0.17  0.51  0.248  0.728
3    2017  30.0  1.73  0.16  0.52  0.255  0.750
4    2016  30.0  1.70  0.18  0.52  0.255  0.739
..    ...   ...   ...   ...   ...    ...    ...
96   1924  16.0  1.66  0.48  0.61  0.287  0.742
97   1923  16.0  1.59  0.46  0.64  0.284  0.738
98   1922  16.0  1.59  0.50  0.59  0.288  0.749
99   1921  16.0  1.62  0.55  0.60  0.291  0.750
100  1920  16.0  1.46  0.51  0.70  0.276  0.707

[101 rows x 7 columns]

In [30]:
# Export to html format
cleaned_date.to_html('html_files/batting.html')

In [31]:
# Export to json format
cleaned_date.to_json('json_files/batting.json',orient='records')

# Create connection to PostgreSQL

In [32]:
# Import Dependencies
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
from config import my_key

In [33]:
# SQL path
postgres_path=('postgresql://postgres:{password}@localhost:5432/project2-db'
               .format(password=my_key))

In [34]:
# Create engine and connection to database in pgAdmin
engine = create_engine(postgres_path)
connection = engine.connect()

In [35]:
# Import data from Pandas to SQL
cleaned_date.to_sql(name='batting_stats', con=connection, if_exists = 'append', index=False)

In [36]:
cleaned_baseball_df.to_sql(name='pitching_averages', con=connection, if_exists = 'append', index=False)